.custom-radio-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.custom-radio {
  font-size: 14px;
  color: #4d4d4d;
  position: relative;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  //margin-bottom: 15px;
  transition: color 0.15s;
}

.custom-radio-input {
  position: absolute;
  width: 1px;
  height: 1px;
  opacity: 0;
  
  &:checked+ span {
    font-weight: bold;
  }
  
  &:checked+ span::before {
    border: 1px solid #f7941e;
    background-color: #f7941e;
  }
  
  &:checked+ span::after {
    opacity: 1;
  }
  
  &:checked+ span:hover {
    color: #4d4d4d;
    
    &::before {
      border: 1px solid #dedede;
      background-color: #fff;
    }
  }
}

.custom-radio-text {
  line-height: 1.1;
  position: relative;
  padding-left: 25px;
  
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    // top: 50%;
    // transform: translateY(-50%);
    width: 18px;
    height: 18px;
    content: '';
    transition: all 0.15s;
    border: 1px solid #dedede;
    border-radius: 100%;
  }
  
  &::after {
    position: absolute;
    top: 0;
    left: 0;
    // top: 50%;
    // transform: translateY(-50%);
    width: 18px;
    height: 18px;
    content: '';
    opacity: 0;
    transition: opacity 0.15s ease-in-out;
    border: 5px solid #f7941e;
    border-radius: 100%;
    background-color: #fff;
  }
  
  &:hover {
    color: #f7941e;
    transition: color 0.15s;
    
    &::before {
      transition: all 0.15s;
      border: 1px solid #ccc;
      background-color: #f7f7f7;
    }
  }
}