.region-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 15px;

  .region-item {
    border-bottom: 1px solid #ebebeb;
    padding: 15px 0;

    &__caption {
      margin: 0;
      width: 100%;
      font-weight: 400;
      font-size: 14px;
      background-image: url(../../../assets/images/mobile-angle-right.svg);
      background-position: right center;
      background-repeat: no-repeat;
    }

    &:first-child {
      border-top: 1px solid #ebebeb;
    }
  }
}