.wrapper,
.contact-info {
  font-size: 14px;
  line-height: 20px;
  color: var(--color-black);
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
  grid-gap: 16px 30px;
  margin-bottom: 16px;
}

.address {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 16px;
}



