.weight-warning {
  font-size: 14px;
  line-height: 20px;
  color: var(--color-tundora);
  display: flex;
  margin-bottom: 16px;
  padding: 6px 14px 10px;
  border-radius: 4px;
  background: rgba(247, 148, 30, 0.07);
  
  svg {
    margin-right: 11px;
  }
  
  &__text {
    padding-top: 3px;
    
    span a {
      color: var(--color-primary);
      text-decoration: none;
      border-bottom: 1px dashed var(--color-primary);
    }
  }
}