// COLORS
:root {
  // colors
 --color-white: #fff;
  --color-black: #000;
  --color-dark: #333;
  --color-light: #e5e5e5;
  --color-tundora: #4c4c4c;
  --color-silver: #c4c4c4;
  --color-chalice: #a6a6a6;
  --color-primary: #f7941e;
  --color-primary-hover: #f68819;
  --color-alabaster: #f7f7f7;
  --color-mercury: #e6e6e6;
  --color-gray: #808080;
  --color-willsand: #f5f5f5;
  --color-alto: #dbdbdb;
  --color-error: #f53;
  --color-success: #8dc63f;
  --color-light-gray: #f6f6f6;
  --color-easy-gray: #bfbfbf;
  --color-wild-sand: #f5f5f5;
  --color-silver-2: #c4c4c4;
  --color-alabaster1: #f7f7f7;
  // sizes
  --bottom-block-size: 52px;

  --border-general: 1px solid var(--color-light);

  // vh
  --vh: 1;
  --window-height: calc(var(--vh, 1vh) * 100);

  // time
  --slide-animation: 10s;

  // grid
  --container-max-width: 1260px;
  --grid-gap: 30px;
  --scrollbar-width: 17px;
  --offset-container: calc((100vw - (var(--container-max-width) - var(--grid-gap)) - var(--scrollbar-width)) / 2);
  --column-width: calc((var(--container-max-width) / 4) - (var(--grid-gap)));
  --offset-top: 16px;
  --header-height: 84px;

  // indents
  --indent-30: 30px;
  --indent-24: 24px;
  --indent-22: 22px;
  --indent-20: 20px;
  --indent-18: 18px;
  --indent-16: 16px;
  --indent-14: 14px;
  --indent-10: 10px;
  --indent-8: 8px;

  // font
  --font-family: "Noto Sans", sans-serif;
  --very-small-fz: 10px;
  --very-small-lh: 14px;
  --small-fz: 12px;
  --small-lh: 20px;
  --middle-fz: 14px;
  --middle-high-fz: 16px;
  --middle-lh: 20px;
  --middle-high-lh: 22px;
  --high-fz: 18px;
  --very-high-fz: 24px;
  --very-high-lh: 33px;
  --very-small: 400 var(--very-small-fz) / var(--very-small-lh) var(--font-family);
  --small-normal: 400 var(--small-fz) / var(--small-lh) var(--font-family);
  --small-bold: 700 var(--small-fz) / var(--small-lh) var(--font-family);
  --middle-normal: 400 var(--middle-fz) / var(--middle-lh) var(--font-family);
  --middle-bold: 700 var(--middle-fz) / var(--middle-lh) var(--font-family);
  --middle-high: 400 var(--middle-high-fz) / var(--middle-high-lh) var(--font-family);
  --middle-high-bold: 700 var(--middle-high-fz) / var(--middle-high-lh) var(--font-family);
  --high-bold: 700 var(--high-fz) / var(--middle-high-lh) var(--font-family);
  --very-high-bold: 700 var(--very-high-fz) / var(--very-high-lh) var(--font-family);

  // transition
  --primary-trs: 0.1s ease-in-out;

  // shadows
  --shadow-primary: 0 0 10px rgba(0, 0, 0, 0.1);

  // borders
  --dim-border: 1px solid rgba(0, 0, 0, 0.1);
  --primary-border: 1px solid var(--color-silver);
  --input-border: 1px solid var(--color-mercury);
  --primary-radius: 4px;
}
